streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
langchain-text-splitters
langgraph
chromadb
pypdf
python-dotenv
typing-extensions
pdfplumber 
pymupdf
torch 
torchvision
