streamlit
pymupdf
pdfplumber
pillow
torch
langchain-huggingface
sentence-transformers
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
chromadb
torchvision
protobuf==3.20.3
camelot-py[cv]
numpy 
pandas 
opencv-python-headless
paddleocr 
paddlepaddle 
accelerate 
rank-bm25 
torch 
torchaudio 
unstructured