streamlit
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
pypdf
pinecone
langchain-pinecone
PyMuPDF
pdfplumber
langchain-huggingface
sentence-transformers
torch
pillow
numpy